rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "trajetto@colegionascimentocn.com.br" && request.auth.token.email_verified == true);
    }

    // ===============================================================
    // Content Collection
    // ===============================================================
    match /content/{document} {
      // Anyone can read the content
      allow read: if true;
      
      // Only admin can write the content
      allow write: if isAdmin();
    }
  }
}
